@import 'variables';

html {
  font-size: 10px;
}

body {
  color: $dark;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  &._lock {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  margin: 0 auto;
  padding: 33px 15px;
}

header {
  &._fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 8;
  }
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;
  &__item {
    margin-left: 4.4rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 2.7rem;
    }
  }
  &__link {
    color: $dark;
    text-decoration: none;
    transition: all 0.3s;
    @media (min-width: 992px) {
      &:hover {
        color: $purple;
      }
    }
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $purple;
    color: $white;
    text-decoration: none;
    padding: 1.6rem 2.6rem;
    border-radius: 0.6rem;
  }
}

.banner {
  text-align: center;
  background-color: $dark;
  color: $white;
  padding-top: 62px;
  margin-bottom: -171px;
  position: relative;
  @media (max-width: 700px) {
    padding-bottom: 62px;
    margin: 0;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 170px;
    background: #fff;
    z-index: 1;
    @media (max-width: 700px) {
      display: none;
    }
  }

  &__title {
    font-size: 5.5rem;
    max-width: 570px;
    margin: 0 auto 3.1rem;
    font-weight: 400;
    @media (max-width: 962px) {
      font-size: 4rem;
    }
    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }
  &__img {
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 2;
    @media (max-width: 1300px) {
      max-width: 100%;
    }
    @media (max-width: 700px) {
      display: none;
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 15px;
  }
  &__btn {
    border: 1px solid $white;
    background-color: transparent;
    font-size: 1.6rem;
    padding: 1.7rem 3.7rem;
    color: $white;
    border-radius: 0.6rem;
    margin: 0 0.8rem;
    display: inline-block;
    @media (max-width: 500px) {
      flex: 1 1 auto;
      width: 100%;
      padding: 1.7rem 0;
    }
    &-main {
      font-size: 1.5rem;
      background-color: $purple;
      border: 1px solid $purple;
    }
  }
}

.section {
  padding-top: 214px;
  margin-bottom: 19.4rem;
  @media (max-width: 600px) {
    padding-top: 60px;
    margin-bottom: 2rem;
  }
  &__title {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    &::first-letter {
      letter-spacing: 0.01em;
    }
    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }
}

.tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;

  @media (max-width: 950px) {
    flex-wrap: wrap;
    gap: 20px;
  }

  &-item {
    flex: 0 0 32%;
    @media (max-width: 950px) {
      flex: 0 0 48%;
    }
    @media (max-width: 650px) {
      flex: 1 1 100%;
      width: 100%;
      .tarif-info::before {
        display: none;
      }
    }
    &-01 {
      .tarif-header {
        background-image: url(../images/tarif-01.svg);
      }
      .tarif-footer {
        background-color: rgba($color: $dark, $alpha: 0.03);
      }
      .tarif-list__item {
        &::before {
          background-image: url(../images/check-01.svg);
        }
      }
    }
    &-02 {
      .tarif-header {
        background-image: url(../images/tarif-02.svg);
      }
      .tarif-info__title {
        color: #19c787;
      }
      .tarif-footer {
        background-color: rgba($color: #19c787, $alpha: 0.05);
      }
      .tarif-list__item {
        &::before {
          background-image: url(../images/check-02.svg);
        }
      }
    }
    &-03 {
      .tarif-header {
        background-image: url(../images/tarif-03.svg);
      }
      .tarif-info__title {
        color: #ff9f1c;
      }
      .tarif-footer {
        background-color: rgba($color: #fcb934, $alpha: 0.05);
      }
      .tarif-list__item {
        &::before {
          background-image: url(../images/check-03.svg);
        }
      }
    }
  }
  &-header {
    padding-top: 12rem;
    background-position: 0 center;
    border-radius: 0.8rem 0.8rem 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-info {
    background-color: $dark;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4rem 3rem 2.7rem;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 4.5rem;
      background-image: url(../images/item.svg);
      position: absolute;
      top: -4.5rem;
      left: 0;
    }
    &__title {
      font-size: 2.4rem;
      font-weight: 400;
      margin: 0 0 1rem;
      &::before {
        content: '';
        display: block;
        background-image: url(../images/logo-min.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 6.1rem;
        height: 1.6rem;
        margin-bottom: 1.3rem;
      }
    }
    &__price {
      font-size: 4.8rem;
      margin: 0;
      span {
        font-size: 1.5rem;
      }
    }
  }
  &-footer {
    border-radius: 0 0 0.8rem 0.8rem;
    padding: 1.3rem 1.5em;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    &__item {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 3rem;
      margin-bottom: 2.1rem;
      font-size: 1.4rem;
      font-weight: 700;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: calc(50% - 1rem);
        left: 0;
      }
    }
  }
}

.comment {
  margin: 0px 0px 7.4rem 0px;
  @media (max-width: 700px) {
    margin: 0px 0px 4rem 0px;
  }
  &__body {
    display: flex;
    gap: 4rem;
    @media (max-width: 750px) {
      flex-direction: column;
      gap: 0;
    }
  }
  &__column {
    flex: 1 1 50%;
  }
  &__title {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 56px;
    color: $dark;
    margin-bottom: 8rem;
  }
}
.comment-card {
  padding: 40px;
  border-radius: 8px;
  margin: 0px 0px 40px 0px;
  @media (max-width: 600px) {
    padding: 20px;
  }
  *:last-child {
    margin: 0;
  }

  &--till {
    background: #fdebee;
  }
  &--till-dark {
    background: #fff5e1;
  }
  &--green-blue {
    background: #e8e5fb;
  }
  &--green {
    background: #e8faf3;
  }
  &--green-dark {
    background: #e6f3ff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 3rem 0px;
  }
  &__avatar {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__icon {
  }
  &__name {
    margin: 0px 0px 0px 0px;
    span {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $dark;
    }
  }
  &__nick-name {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $grey;
  }
  &__twitter {
  }
  &__body {
    font-size: 1.7rem;
    line-height: 3.2rem;
    letter-spacing: 0.017em;
    color: $grey;
    margin: 0px 0px 20px 0px;
  }
  &__btn {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $dark;
    background: 0;
    border: 0;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: lighten($dark, 20%);
    }
  }
}
.footer {
  background: #f8f8f9;
  padding: 5.6rem 0 5.8rem 0;
  // .footer__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 13.2rem;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 8rem;
      column-gap: 10rem;
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 6rem;
    }
  }
  // .footer__column
  &__column {
    @media (max-width: 550px) {
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
  // .footer__list
  &__list {
    padding: 0;
    margin: 0;
  }
  // .footer__item
  &__item {
    list-style-type: none;
    margin-bottom: 6px;
    &:last-child {
      margin: 0;
    }
    @media (max-width: 550px) {
      margin-bottom: 20px;
    }
  }
  // .footer__link
  &__link {
    text-decoration: none;
    color: $grey;
    font-size: 1.5rem;
    line-height: 2.2rem;
    transition: all 0.3s;
    @media (min-width: 992px) {
      &:hover {
        color: $purple;
      }
    }
    @media (max-width: 550px) {
      font-size: 2rem;
    }
  }
  // .footer__column-title
  &__column-title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #100a30;
    margin: 0 0 1.6rem 0;
    display: block;
    @media (max-width: 550px) {
      font-size: 3rem;
      margin: 0px 0px 2.5rem 0px;
    }
  }
  a.footer__column-title {
    margin-bottom: 1.5em;
  }

  &__social {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    @media (max-width: 550px) {
      max-width: 50%;
      margin: 0 auto;
      margin-top: 2rem;
      img {
        width: 35px;
      }
      a + a {
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
    transform: scale(0);
    transition: all 0.3s;
  }

  .menu__icon {
    position: relative;
    width: 50px;
    height: 30px;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 4px;
      border-radius: 5px;
      background: #000;
      transition: all 0.3s;
      transform: scale(1) translateY(-50%);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 4px;
      background: #000;
      border-radius: 5px;
      transition: all 0.3s;
    }

    &::after {
      bottom: 0;
    }
    &::before {
      top: 0;
    }

    &._open {
      z-index: 20;
      position: fixed;
      top: 30px;
      right: 10px;
      span {
        transform: scale(0) translateY(-50%);
        background: #fff;
      }
      &::before {
        transform: rotate(45deg) translate(10px, 10px);
        background: #fff;
      }
      &::after {
        transform: rotate(-45deg) translate(10px, -8px);
        background: #fff;
      }
    }
  }

  .nav._open {
    transform: scale(1);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.692);
    z-index: 9;

    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
      color: #fff;
      display: block;
      font-size: 1.5em;
    }
    li {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}
